*{
    font-family:sans-serif;
    outline:0;
}

body{
    background: rgb(81, 81, 247);
}

header{
    text-align: center;
    

}
section{

    background: white;
    border-radius: 8px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425)
}

#txtnum {
    border:2px solid #ccc;
    border-radius:4px;

    transition: 4s;
}

#txtnum:focus {
    border-color: red;
}

footer{
   color: whitesmoke;
   text-align: center;
   font-style: italic;
}

select#fnum{
    width: 155px;
}

#res{
    text-align: center;
}